* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  box-sizing: border-box;
}
*,
::before,
*::after {
  box-sizing: inherit;
} */

@font-face {
  font-family: Montserrat;
  src: url("../module-7/font/Montserrat-Regular.woff") format("woff")
    url("../module-7/font/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DroidSerif-Italic";
  src: url("../module-7/font/DroidSerif-Italic.woff") format("woff")
    url("../module-7/font/DroidSerif-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../module-7/font/Montserrat-Bold.woff") format("woff")
    url("../module-7/font/Montserrat-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Wisdom";
  src: url("../module-7/font/WisdomScriptAJ.woff") format("woff")
    url("../module-7/font/WisdomScriptAJ.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hanna";
  src: url("../module-7/font/HanaleiFill-Regular.woff") format("woff")
    url("../module-7/font/HanaleiFill-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* PAGE-HEADER */
header {
  background-image: url(../module-8/img/Vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 70px;
}

.logo-text {
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  padding-bottom: 40px;
  text-align: center;
  text-decoration: none;
}

.container {
  width: 280px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  flex-direction: column-reverse;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login {
  display: flex;
  justify-content: center;
  padding: 20px 0 115px 0;
}

.login li {
  list-style: none;
  width: 86px;
  height: 32px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(26, 25, 21, 0);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login li a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.login li:hover {
  border-color: rgba(255, 255, 255, 100%);
}

/* TITLE */

h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
}

/* .title {
    font-size: 52px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
  } */

.title-span {
  font-size: 18px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 300;
  display: block;
  width: 220px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.title-button {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  border-style: none;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  width: 280px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 140px;
}

/* PARTNER SECTION */

h2 {
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #333333;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.partner-list-item {
  width: 220px;
  text-align: center;
  position: relative;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 30px;
}

.partner-list-item img {
  height: 122px;
  width: 122px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
}

.partner-list-item a {
  font-size: 14px;
  color: #333333;
  text-decoration: none;
  font-weight: 700;
}

.partner-list-item p {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  font-weight: 300;
  padding-top: 15px;
}

.partner-list-item a::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  border-color: rgb(255, 255, 255);
  position: absolute;
  top: 86px;
  right: 40px;
  background: no-repeat;
  background-position: center;
}

.tv a::before {
  /* background-color: rgb(255, 78, 80); */
  background-image: url(../module-8/img/redTV.png);
}

.cup a::before {
  /* background-color: rgb(28, 215, 173); */
  background-image: url(../module-8/img/greenCUP.png);
}

.tube a::before {
  /* background-color: rgb(255, 165, 7); */
  background-image: url(../module-8/img/yellowCUP.png);
}

.telegram a::before {
  /* background-color: rgb(78, 115, 219); */
  background-image: url(../module-8/img/blueTelegram.png);
}

.last-button {
  text-align: center;
}

.see-more-button {
  cursor: pointer;
  font-size: 14px;
  color: rgb(255, 78, 80);
  width: 280px;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 78, 80);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 60px;
}

/* MEDIA */

@media (min-width: 684px) {
  header {
    margin-bottom: 75px;
  }

  .wrapper {
    width: 680px;
    margin: 0 auto;
  }

  .header {
    flex-direction: inherit;
    justify-content: space-between;
    align-items: center;
    width: 680px;
    margin: 0 auto;
    min-height: 120px;
    margin-bottom: 110px;
  }

  .logo {
    margin: 0;
    padding: 0;
  }

  .login {
    margin: 0;
    padding: 0;
  }

  .first-title {
    width: 532px;
    margin: 0 auto;
  }

  h1 {
    font-size: 52px;
    width: 532px;
  }

  .h1-description {
    font-size: 24px;
    width: 100%;
    padding: 40px 0 40px 0;
  }

  .h1-button {
    margin-bottom: 235px;
  }

  h2 {
    margin-bottom: 30px;
    width: 100%;
  }

  .partners {
    width: 500px;
    margin: 0 auto;
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
  }

  .partner-list-item {
    margin-bottom: 40px;
  }

  .see-more-button {
    margin-bottom: 40px;
  }
}

@media (min-width: 945px) {
  .header {
    width: 942px;
  }

  .wrapper {
    width: 942px;
  }

  .partners {
    width: 942px;
    margin: 0 auto;
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

* {
  outline: 1px solid red;
}
