
.page-header{
    margin-top: 40px;

}

.logo-text{
    font-family: "Roboto"  ;
    font-size: 30px;
    text-decoration: none;
    color: #555252;
    font-weight: 300;
    display: inline-block;
}

.logo-text::first-letter{
    font-family: "Roboto" ;
    color:#1abc9c;
    font-weight: 900;
}

.wrapper{
    width: 1110px;
    margin: 0 auto;

}

.navigation {
    float: right;
}

.navigation ul {
    padding-top: 6px;
    padding-bottom: 6px;
}

.navigation li {
    display:inline-block;
    font-size: 14px;
    /* text-align: right;   */
    font-family: Open Sans;
    font-weight: 700;
    margin-right: 30px;
}

.navigation li:last-child {
    margin-right: 0px;
}

.navigation li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
}


.navigation li a:hover{
    color:#1abc9c;  
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    margin-top: 110px;
    color: #515151;
}

.underlined-header:after{
    content: "";
    width: 160px;
    height: 8px;    
    margin:0 auto;  
    background: #1abc9c;
    display: block;
    margin-top: 35px;
    margin-bottom: 92px;    
}

.products .item {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    /* width: 255px; */
}

.products :nth-child(4n) {
    margin-right: 0px;
}

.item-href{
    background-color:#e9effd;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.item-href img{
    max-width: 100%;
    max-height: 100%;
}

.product-name h3{
    display: inline-block;
}

.item{
    float: left;
}
.item price{
    float: right;
}

.product-name{
    background-color:#323232;
}

.product-name:hover{
    color:#1abc9c;  
}

.product-name-text{
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 900;
    text-decoration: none;
    line-height: 32px;
    font-size: 18px;
    width: 159px;
    letter-spacing: 0px;
    margin-left: 15px;
}

.price{
    background-color:#8c8c8c;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    line-height: 32px;
    font-size: 18px;
    width: 54px;
    /* letter-spacing: 0px; */
    text-align: center;
    float:right;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.underlined-news:after{
    content: "";
    width: 160px;
    height: 3px;    
    margin:0 auto;  
    background: #1abc9c;
    display: block;
    margin-top: 15px; 
    margin-bottom: 35px; 
    margin-left: 0px; 
}

.underlined-news{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #555252;
    font-family: "Open Sans";
    font-weight: 600;
}

.text-news{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #555252;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 25px; 
}

.btn-more{
    background-color: #4ec6ab;
    width: 160px;
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
    display: block;
    border: hidden;
    border-radius: 3px;
    text-decoration: none;
    line-height: 50px;

}

.news-item-href {
    display: block;
}

.news-item-href img{
    width: 350px;
    height: 260px;
}

.news-item{
    float: left;
    margin-right: 30px;
    width: 350px;
}

.news article:last-child {
    margin-right: 0px;
}

.news{
    margin-bottom: 80px; 
}

* {
    outline: 1px solid red;
} 