
.logo-text{
    font-family: "Roboto"  ;
    font-size: 30px;
    text-decoration: none;
    color: #555252;
    font-weight: 300;
    display: inline-block;
}

.logo-text::first-letter{
    font-family: "Roboto" ;
    color:#1abc9c;
    font-weight: 900;
}

.page-header{
    width: 1110px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.navigation {
    float: right;
}

.navigation ul {
    padding-top: 6px;
    padding-bottom: 6px;
}

.navigation li {
    display:inline-block;
    font-size: 14px;
    /* text-align: right;   */
    font-family: Open Sans;
    font-weight: 700;
    margin-right: 30px;
}

.navigation li:last-child {
    margin-right: 0px;
}

.navigation li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
}


.navigation li a:hover{
    color:#1abc9c;  
}

.slider{
    position: relative;
    width: 100%;
}

.slider img{
    /* width: 100%; */
}

.slider-content h2{
    text-transform: uppercase;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
}

.slider-content h3{
    text-align: center;
    color: #ffffff;
    margin-top: 35px;
}

.slider-content{
    /* display:block; */
    height: 100px;
    width:1110px;
    margin: auto;
    margin-top: 210px;
    /* overflow: auto; */
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.arrow{
    width: 105px;
    height: 105px;
    background-color: #55a290;
    opacity: 0.75;
    margin-top: 15px;
}
.arrow-left{
    float:left;
}

.arrow-right{
    float:right;    
}

.slider-text{
    float: left;
    width: 900px;
}


.pe-7s-angle-left{
    font-size: 100px;
    color: #ffffff;
}

.pe-7s-angle-right{
    font-size: 100px;
    color: #ffffff;
}

.wrapper{
    padding-top: 110px;
    width: 100%;
    background-color: #e9f0fd;
}

.new-collection{
    width: 1110px;
    margin: 0 auto;
}

.new-collection h2{
    text-transform: uppercase;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    color: #515151;
}

.underlined-header:after{
    content: "";
    width: 160px;
    height: 8px;    
    margin:0 auto;  
    background: #1abc9c;
    display: block;
    margin-top: 35px;
    margin-bottom: 92px;    
}

.products .item{
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}

.products :nth-child(4n) {
    margin-right: 0px;
}

.item-href{
    background-color:#e9effd;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.item-href img{
    max-width: 100%;
    max-height: 100%;
}

.product-name h3{
    display: inline-block;
}

.product-name{
    background-color:#323232;
}

.item:hover .product-name{
    background-color:#1abc9c;  
}

.item:hover .product-img-hover{
    display: block;
}

.product-name-text{
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 900;
    text-decoration: none;
    line-height: 32px;
    font-size: 18px;
    width: 159px;
    letter-spacing: 0px;
    margin-left: 15px;
}

.price{
    background-color:rgba(255, 255, 255, 0.44);
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    line-height: 32px;
    font-size: 18px;
    width: 54px;
    /* letter-spacing: 0px; */
    text-align: center;
    float:right;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.underlined-news:after{
    content: "";
    width: 160px;
    height: 3px;    
    margin:0 auto;  
    background: #1abc9c;
    display: block;
    margin-top: 15px; 
    margin-bottom: 35px; 
    margin-left: 0px; 
}

.underlined-news{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #555252;
    font-family: "Open Sans";
    font-weight: 600;
}

.text-news{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #555252;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 25px; 
}

.btn-more{
    background-color: #4ec6ab;
    width: 160px;
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
    display: block;
    border: hidden;
    border-radius: 3px;
    text-decoration: none;
    line-height: 50px;

}

.item{
    position: relative;
}

.news-item-href {
    display: block;
}

.news-item-href img{
    width: 350px;
    height: 260px;
}

.news-item{
    float: left;
    margin-right: 30px;
    width: 350px;
}

.news article:last-child {
    margin-right: 0px;
}

.news{
    margin-bottom: 80px; 
}

.product-img-hover{
    opacity: 0.55;
    width: 230px;
    height: 260px;
    background-color: black;
    position: absolute;
    z-index:3;
    /* display:block; */
    margin: auto;
    margin-top: 13px;
    /* overflow: auto; */
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display:none;
}

.button-small{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: inline-block;
    background:none;
    margin-right: 3px;
}

.button-small-last {
    margin-right: 0px;
}

.button-big{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 165px;
    height: 50px;
    display: inline-block;
    background-color:#323232;
    position: relative;
    z-index: 500;
    margin-top: 5px;
}

.button:hover{
    background-color:#1abc9c;  
}

.icon-text{
    font-size: 14px;
    text-transform: uppercase;
    
}

.hover-buttons{
    position:absolute;  
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index:100;

}

.footer{
    width: 100%;
    height: 88px;
    font-size: 16px;
    color: #fefefe;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
    background: #323232;
    margin: 0 auto;
    line-height: 88px;
}

.company-name{
    color: #fefefe;
    text-decoration: none;
}

.company-name:hover{
    color:#1abc9c; 
}

* {
    /* outline: 1px solid red; */
} 